body{
  background: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80);
  background-repeat: no-repeat;
}

div{
  background-color: blue;
  border-color: orange;
  border-width: 4px;
  border-style: double;
}
p{
  color: yellow;
}

span{
  background: red;
  color: black;
}
